@import "variables";

ul.breadcrumbs {
  color: $color-gray-lighten-50;
  font-size: $base-font-size;
  margin: 0;

  li {
    display: inline-block;

    &:not(:last-of-type) {
      color: $color-gray-lighten-30;

      &::after {
        content: "»";
        padding: 0 4px;
      }
    }
  }
}
