@import "variables";
@import "mixins";

span.label {
  border: 0;
  border-radius: $border-radius;
  margin: 0;
  padding: 2px 6px;
  box-shadow: 0 1px 2px 0 #808080;

  @include label($color-gray-lighten-30, $color-gray-lighten-70);

  &.notice,
  &.info {
    @include label($color-blue-darken-10, $color-blue-lighten-45);
  }

  &.warning {
    @include label($color-yellow-darken-25, $color-yellow-lighten-32);
  }

  &.success {
    @include label($color-green-darken-5, $color-green-lighten-60);
  }

  &.error,
  &.danger {
    @include label($color-red-darken-5, $color-red-lighten-40);
  }
}
