@import "variables";

#modal_overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: -10000px;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  right: 10000px;
  top: 0;
  transition: opacity 0.125s ease-in;
  z-index: 900;

  & > .modal {
    align-items: center;
    background-color: #ffffff;
    border-radius: $border-radius * 2.5;
    display: block;
    margin: 5em auto;
    max-width: $content-width * 0.9;
    min-height: 32px;
    min-width: $content-width / 3;
    padding: 1em 1em 1.3em 1em;
    width: 90vw;

    pre,
    textarea {
      overflow: auto;
      white-space: pre-wrap;
    }

    & > * {
      display: block;
      width: 100%;
      line-height: normal;
      margin-bottom: 0.5em;
    }
  }
}

body.modal-overlay-active {
  height: 100vh;
  overflow: hidden;

  #modal_overlay {
    left: 0;
    opacity: 1;
    right: 0;
  }
}
