<%#
  Created by Victor Polotebnov (v.polotebnov@tano-systems.com)
%>
<%
  local ver = require "luci.version"
%>
          <div class="footer">
            <div class="container">
                  <span>
                    <a href="https://github.com/tano-systems/luci" target="_blank">Powered by <%= ver.luciname %></a> | <%= ver.luciversion %>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">L.require('menu-tano', null, '${PKG_VERSION}')</script>
  </body>
</html>
