<%
local sys  = require "luci.sys"
local util = require "luci.util"
local http = require "luci.http"
local disp = require "luci.dispatcher"

local boardinfo = util.ubus("system", "board")

local request  = disp.context.path
local request2 = disp.context.request

local category = request[1]
local cattree  = category and disp.node(category)

local tree = disp.node()
local node = disp.context.dispatched

local headers = http.context.headers

local c = tree
local i, r

-- tag all nodes leading to this page
for i, r in ipairs(request) do
  if c.nodes and c.nodes[r] then
    c = c.nodes[r]
    c.is_active = true
  end
end

-- send as HTML5
http.prepare_content("text/html")

local function nodeurl(prefix, name, query)
  local u = url(prefix, name)

  if query then
    u = u .. http.build_querystring(query)
  end

  return pcdata(u)
end

function nodeisactive(node, prefix)
  if node.is_active == true then return true end

  if prefix == table.concat(request2, '/') then
    return true
  end

  return false
end

function render_node(prefix, node)
  local object = {}

  object.label = striptags(translate(node.title)):gsub("&#34;", "\"")
  object.isActive = nodeisactive(node, prefix)

  if (type(node.target) == "table" and node.target.type ~= "firstchild") or
     (type(node.target) == "boolean") or
     ((type(node.target) == "function") and not next(node.nodes)) or
     not node.nodes
  then
    object.url = nodeurl("", prefix, node.query)
  end

  local children = disp.node_childs(node)
  if #children > 0 then
    local _, req
    object.children = {}
    for _, req in ipairs(children) do
      local child = node.nodes[req]
      table.insert(object.children, render_node(prefix .. "/" .. req, child, node))
    end
  end

  return object
end

function render_menu_json()
  if category then
    write(luci.jsonc.stringify(render_node(category, cattree).children))
    -- write(luci.jsonc.stringify(cattree.nodes))
  end
end

function render_breadcrumbs()
  local i
  local r
  local node = tree
  local prefix = ""

  if #request2 < 3 then
    return
  end

  function render_breadcrumb_item(title, url)
    write('<li class="breadcrumbs-item">')
    if url then
      write('<a href="' .. url .. '">' .. title .. '</a>')
    else
      write(title)
    end
    write('</li>')
  end

  write('<ul class="breadcrumbs">')

  for i, r in ipairs(request2) do
    if node.nodes and node.nodes[r] then
      node = node.nodes[r]

      if prefix ~= "" then
        if i == #request2
           or type(node.target) ~= "table"
           or node.target.type == "firstchild"
           or not node.nodes
           or not next(node.nodes)
        then
          -- skip nodes with target == table and target.type == cbi
          -- last node render always
          if i == #request2 or
             (type(node.target) ~= "table" or node.target.type ~= "cbi")
          then
            if node.title then
              render_breadcrumb_item(translate(node.title))
            else
              render_breadcrumb_item(r)
            end
          end
        else
          local url = nodeurl(prefix, r, node.query)
          render_breadcrumb_item(translate(node.title), url)
        end
      end

      prefix = prefix .. '/' .. r
    else
      render_breadcrumb_item(r)
    end
  end

  write('</ul>')
end

-%>

<!DOCTYPE html>
<html lang="<%= luci.i18n.context.lang %>">
  <head>
    <meta charset="utf-8"/>
    <title>
      <%= striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI
    </title>
    <meta name="viewport" content="initial-scale=1,width=device-width" />
    <link rel="stylesheet" href="<%= media %>/cascade.css" />
    <script src="<%=url('admin/translations', luci.i18n.context.lang)%><%# ?v=PKG_VERSION %>"></script>
    <script type="text/javascript" src="<%= resource %>/cbi.js"></script>
    <script type="text/javascript" src="<%= resource %>/xhr.js"></script>
    <script type="text/javascript" src="<%= media %>/menu.js"></script>
    <link rel="icon" href="<%= media %>/favicon.png">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="controls">
          <div class="logo">
            <img src="<%= media %>/logo.svg" class="logo"/>
            <span class="label">TANO SYSTEMS</span>
          </div>

          <div id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
            <span id="xhr_poll_status_on">
              <span class="circle">
                <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"/></svg>
              </span>
              <span class="bar"></span>
            </span>
            <span id="xhr_poll_status_off" style="display:none">
              <span class="circle">
                <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"/></svg>
              </span>
              <span class="bar"></span>
            </span>
            <span class="label"><%:Auto Refresh%></span>
          </div>

          <% if luci.dispatcher.context.authsession then %>
            <img src="<%= media %>/fa-bars.svg" id="sidemenu-toggle" class="header-icon menu-icon"/>
          <% end %>
        </div>
      </div>
      <div class="additional-info">
        <div class="container">
          <%- if not headers or headers["x-luci-login-required"] ~= "yes" then -%>
            <div class="breadcrumbs-wrapper"><% render_breadcrumbs() %></div>
          <%- end -%>
          <div class="hostname">
            <span class="title"><%:Hostname%>:</span>
            <%= striptags(boardinfo.hostname or "?") %>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <%- if category then %>
          <span id="menu-json"><% render_menu_json() %></span>
          <div class="dn" id="sidemenu"></div>
        <% end %>
        <div id="maincontent" class="main-content">
          <%- if not headers or headers["x-luci-login-required"] ~= "yes" then -%>
            <%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
            <div class="alert-message">
              <h4 align="center"><%:No password set!%></h4>
              <p align="center"><%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%></p>
              <p align="center"><a class="cbi-button cbi-button-link cbi-button-apply margin-top-15" href="<%=pcdata(luci.dispatcher.build_url('admin/system/admin'))%>"><%:Go to password configuration...%></a></p>
            </div>
            <%- end -%>
          <%- end -%>
